.autorization {
  margin-left: auto;
  max-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__link {
    color: $tc;
    font-weight: 400;
    line-height: normal;
  }

  &__profile {
    max-width: 40px;
    width: 100%;
    min-height: 40px;
    background-color: $tc;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
