html,
body {
  height: 100%;
  font-family: 'GOSTUI2';
}



a {
  transition: $tr;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

button {
  border: none;
  outline: none;
}

// footerFlex down
.mainWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrap {
  flex: 1 0 auto;
}


// footerFlex down end



// mmenu
.mm-menu,
.mm-slideout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mm-wrapper_opening .mm-menu_fx-listitems-slide .mm-panel_opened .mm-listitem {
  width: 100%;
  max-width: 100%;
}

.mm-listitem__text {
  max-width: 170px;
}

.mm-listitem__btn:not(.mm-listitem__text) {
  position: absolute;
  right: 30%;

  @media (max-width: 510.98px) {
    right: 55%;
  }
}

#mm-3 {
  padding-left: 0;
}


// mmenu end
