html,
body {
  height: 100%;
  font-family: 'GOSTUI2';
}



a {
  transition: $tr;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

button {
  border: none;
  outline: none;
}

// footerFlex down
.mainWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentWrap {
  flex: 1 0 auto;
}


// footerFlex down end



// mmenu
.mm-menu,
.mm-slideout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mm-wrapper_opening .mm-menu_fx-listitems-slide .mm-panel_opened .mm-listitem {
  width: 100%;
  max-width: 100%;
}

.mm-listitem__text {
  max-width: 170px;
}

.mm-listitem__btn:not(.mm-listitem__text) {
  position: absolute;
  right: 0;
}

#mm-3 {
  padding-left: 0;
}


// mmenu end



// caption
.captionWrap {
  padding-bottom: 15px;

  .caption {
    font-size: 24px;
    color: $b;
    margin-bottom: 0;
    padding-left: 30px;

    @media (max-width: 991.98px) {
      padding-left: 15px;
    }

    @media (max-width: 575.98px) {
      padding-left: 0;
    }
  }
}

// caption end


// button
.btn {
  background-color: $sc;
  color: $w;
  font-weight: 600;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $tr;
  position: relative;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(26, 166, 183, .3);
  }
}

// button end
