.blurEffect {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 9999999;
  padding: 0 15px;

  &--blurEffectDone {
    display: block;
  }

  .registration {
    &__modalWindow {
      max-width: 620px;
      width: 100%;
      background: $w;
      border-radius: 0px 15px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;

      .closeBtn {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 20px;
        height: 20px;
        border: 1px solid $mc;
        z-index: 1;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $tr;

        i {
          font-size: 13px;
          color: $mc;
        }

        &:hover {
          transform: scale(1.5) rotate(360deg);
          border: 1px solid red;

          i {
            color: red;
          }
        }
      }

      .closeBtnLeft {
        border: 1px solid $w;

        @media (max-width: 575.98px) {
          border: 1px solid $mc;
        }

        i {
          color: $w;

          @media (max-width: 575.98px) {
            color: $mc;
          }
        }
      }

    }

    &__logoSide {
      max-width: 240px;
      width: 100%;
      min-height: 433px;
      background-color: $mc;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 22px;
      flex-direction: column;

      @media (max-width: 575.98px) {
        display: none;
      }

      h2 {
        color: $w;
        font-weight: 700;
        font-size: 40px;
        margin: 0;
        line-height: normal;
      }

      p {
        font-size: 11px;
        margin: 0;
        color: $tc;
      }
    }

    &__registrationSide {
      width: 100%;
      max-width: 100%;
      padding: 37px;

      @media (max-width: 575.98px) {
        padding: 20px;
      }

    }

    &__input {
      width: 100%;
      max-width: 100%;
      border: none;
      border-bottom: 1px solid #D0D0D0;
      outline: none;
      font-size: 12px;
      color: $tc;
      font-weight: 700;

      &--registrationInput {
        padding-left: 27px;
      }
    }

    ::-webkit-input-placeholder {
      color: rgba(51, 51, 51, 0.54);
      font-size: 12px;
    }

    ::-moz-placeholder {
      color: rgba(51, 51, 51, 0.54);
      font-size: 12px;
    }


    :-moz-placeholder {
      color: rgba(51, 51, 51, 0.54);
      font-size: 12px;
    }


    :-ms-input-placeholder {
      color: rgba(51, 51, 51, 0.54);
      font-size: 12px;
    }

    &__inputWrap {
      position: relative;
      margin-bottom: 15px;

      i {
        position: absolute;
        left: 0;
        font-size: 13px;
        bottom: 2px;
      }

      .icon-envelope {
        font-size: 10px;
        bottom: 5px;
      }
    }

    &__signIn {
      text-align: center;
      margin-top: 25px;
    }
  }

  form {
    margin-top: 30px;

    input[type=password] {
      font-size: 20px;
      margin-bottom: 0;
    }

    label {
      font-size: 12px;
      color: $mc;
      font-weight: 600;
      cursor: pointer;
      margin: 0;
    }

    .forget {
      font-size: 10px;
      text-decoration: underline;
      border-bottom: 1px solid rgba(0, 0, 0, 0.32);
      text-decoration: none;
      color: rgba(0, 0, 0, 0.32);

      &:hover {
        border-bottom: none;
      }
    }

    .btn {
      background-color: #85C800;
      border-radius: 45px;
      border: none;
      padding: 2px 40px;
      color: $w;
      font-weight: 600;
      font-size: 20px;
      display: block;
      margin: auto;
      margin-top: 20px;
      position: relative;
      transition: $tr;

      &:hover {
        &:before {
          transform: scale(2);
        }
      }
    }

    p {
      font-size: 11px;
      color: $tc;
      line-height: 19px;
      margin-bottom: 5px;

      a {
        color: $mc;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .nav-tabs {
    border: none;



    .nav-link {
      border: none;
      border-radius: 0;
      padding: 0;
      background-color: transparent;
      color: $tc;
      transition: $tr;
      font-size: 20px;
      padding-bottom: 5px;
      padding-right: 45px;
      margin-right: 2px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        height: 2px;
        background-color: $mc;
        width: 0;
        transition: $tr;
        bottom: 0;
      }

      &:hover {
        font-weight: 700;
        color: $mc;

        &:before {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .active {
      font-weight: 700;
      color: $mc;

      &:before {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}



.done {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

  }

  &__window {
    max-width: 726px;
    width: 100%;
    min-height: 471px;
    background: $w;
    box-shadow: 0px 2px 30px rgba(211, 225, 248, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__img {
    max-width: 112px;
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  p {
    text-align: center;
    font-size: 24px;
    color: $tc;
    line-height: normal;
    margin-bottom: 20px;
  }

  .btn {
    max-width: 144px;
    width: 100%;
    min-height: 48px;
    font-size: 24px;
  }
}
